#version: "3.9"

services:
  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:5000"
    volumes:
      - ./:/api
    env_file:
      - .env

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flaskdb
    ports:
      - "3307:3306"
    volumes:
        - "db_data:/var/lib/mysql"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

volumes:
  db_data: