#version: "3.9"

services:
  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    volumes:
      - ./:/api
    env_file:
      - .env

  db:
    image: mysql:5.7
    restart: always
    env_file:
      - .env
    volumes:
        - "db_data:/var/lib/mysql"
    healthcheck:
      test: ['CMD-SHELL', 'mysqladmin ping -h 127.0.0.1 --password="root" --silent']
      interval: 3s
      retries: 5
      start_period: 30s

volumes:
  db_data:
